body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
h4 {
  margin: 10px;
}
a {
  color: seashell;
  text-decoration: underline;
}
div {
  display: block;
}
.hdr1 {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 70px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
nav {
  margin-left: auto;
  padding-right: 10px;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.mission {
  background-image: url(../../resources/images/img-mission-background.jpg);
  height: 700px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;
}
.mission-text {
background-color: black;
width: 1200px;
}
.mission-text h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tea {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  align-content: space-around;
  width: 1000px;
}
.tea-text {
  background-color: black;
  margin-top: 50px;
  width: 1000px;
  }
.tea-image {
  margin: 10px;
}
.tea-image img {
  height: 200px;
  width: 300px;
}
.hdr2 h2 {
  margin-bottom: 0px;
  margin-top: 54px;
  padding-bottom: 0px;
}
.locations {
  background-image: url(../../resources/images/img-locations-background.jpg);
  height: 500px;
  background-repeat: no-repeat;
  margin-top: 58px;
  width: 1200px;
}
.locate h2 {
  width: 100%;
}
.text-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.location-text {
  background-color: black;
  margin: 15px 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.contact {
  height: 190px;
}
.contact h2 {
  margin-top: 10px;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 90px;
  padding-left: 20px;
}
